<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginSuite">
  
  <test name="BuyerAddress">
    <classes>
      <class name="Buyer.Address"/>
       </classes>
  </test> <!-- Test -->
  
  <test name="MyProfile">
    <classes>
      <class name="Buyer.MyProfile"/>
       </classes>
  </test>
</suite> <!-- Suite -->
